# Library

In [1]:
import pandas as pd

import nltk
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

# Load Data

In [2]:
df = pd.read_csv('../data/spam.csv', encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# Data Inspection

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [4]:
df.shape

(5572, 5)

# Data Labelling

In [5]:
new_df = df[['v1', 'v2']].copy()
new_df.columns = ['label', 'message']
new_df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Encoding

In [6]:
new_df['label'] = new_df['label'].map({'ham': 0, 'spam': 1})

# Text Cleaning and Normalization

In [7]:
# nltk.download('stopwords')

In [8]:
ps = PorterStemmer()
stop_words = set(stopwords.words('english'))

def preprocess(text):
    text = text.lower()
    text = ''.join([char for char in text if char not in string.punctuation])
    words = text.split()
    filtered = [ps.stem(word) for word in words if word not in stop_words]
    return ' '.join(filtered)

new_df['cleaned_message'] = new_df['message'].apply(preprocess)
cleaned_df = new_df[['label', 'cleaned_message']]

In [9]:
cleaned_df

      label                                    cleaned_message
0         0  go jurong point crazi avail bugi n great world...
1         0                              ok lar joke wif u oni
2         1  free entri 2 wkli comp win fa cup final tkt 21...
3         0                u dun say earli hor u c alreadi say
4         0          nah dont think goe usf live around though
...     ...                                                ...
5567      1  2nd time tri 2 contact u u å£750 pound prize 2...
5568      0                            ì b go esplanad fr home
5569      0                            piti mood soani suggest
5570      0  guy bitch act like id interest buy someth els ...
5571      0                                     rofl true name

[5572 rows x 2 columns]

In [10]:
cleaned_df = cleaned_df.dropna()

# Saving cleaned data

In [12]:
cleaned_df.to_csv('../data/cleaned_spam_data.csv', index=False)